<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="css/site.css" rel="stylesheet")
    body
        .topbar
            .container
                .row
                    .logo
                        h1 veltry
                    .icons
                        img(src="find.png" alt="Find")
                        img(src="cart.png" alt="Cart")
        nav
            .container
                .navbar
                    ul.menu
                        li.menu-item
                            a.menu-link(href="") link1
                        li.menu-item
                            a.menu-link(href="") link2
                        li.menu-item
                            a.menu-link(href="") link3
                        li.menu-item
                            a.menu-link(href="") link4
        header
            .container
                h3 Find everything you need
                h1 For a trip
                img.text-picture
                img.front-picture
        //-Accessories section
        section
            .container
                .accessories
                    h2.bold Best travel
                    h4 Accessories
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio aliquam, dolores porro, quae dignissimos quibusdam magnam at laudantium asperiores ad eum amet unde natus quas?
                    button.default View all
        //- New arrivsls section
        section
            h4 New arrivals
            p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            p 
                span
                    button#newarrivals-popular(type="button" value="Popular")
                span
                    button#newarrivals-bestseller(type="button" value="Best seller")
            .row
                .item-container
                    .item
                        img(src="bag.jpeg")
                        p American Tourister Crete Polyester 770 mm Blue Softsided Check-in Luggage (49W (0) 09 003)
                        span.price &#036; 45.00
                            button.to-cart
                                span.cart
                .item-container
                    .item
                        img(src="bag.jpeg")
                        p American Tourister Crete Polyester 680 mm Black Softsided Check-in Luggage 
                        span.price &#036; 57.00
                            button.to-cart
                                span.cart
                .item-container
                    .item
                        img(src="bag.jpeg")
                        p Nasher Miles Manarola Soft-Sided Luggage Set of 1Trolley/Travel/Tourist Bags (20, 24 & 28 Inch)
                        span.price &#036; 60.00
                            button.to-cart
                                span.cart
                .item-container
                    .item
                        img(src="bag.jpeg")
                        p Nasher Miles Santorini PP Hard-Sided Luggage Set Of 1 Trolley/Travel/Tourist Bags (55, 65 & 
                        span.price &#036; 67.00
                            button.to-cart
                                span.cart
                .item-container
                    .item
                        img(src="bag.jpeg")
                        p American Tourister Crete Polyester 680 mm Black Softsided Check-in Luggage 
                        span.price &#036; 73.00
                            button.to-cart
                                span.cart
                .item-container
                    .item
                        img(src="bag.jpeg")
                        p American Tourister X-Bags Casual 2 Fabric 65 cm Magenta Gym Bag (X-Bags Casual 
                        span.price &#036; 79.00
                            button.to-cart
                                span.cart
            span
                button#newarrivals-viewall(type="button" value="View all") View all
        //- Our Camps section       
        section
            h4 Our camps
            p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            p 
                span
                    button#ourcamps-popular(type="button" value="Popular") Popular
                span
                    button#ourcamps-bestseller(type="button" value="Best seller") Best seller
            .row
                .item-container
                    .item
                        img(src="bag.jpeg")
                        p Diswa Quick Setup 4-Person All Season... Standard Tent Quality For 4 persons.
                        span.price &#036; 67.00
                            button.to-cart
                                span.cart
                .item-container
                    .item
                        img(src="bag.jpeg")
                        p Dealcrox New 2 Person Tent For Camping Waterproof Outdoor Tent/Tent House
                        span.price &#036; 67.00
                            button.to-cart
                                span.cart
                .item-container
                    .item
                        img(src="bag.jpeg")
                        p Ozoy Picnic Camping Portable Waterproof Tent For 6 Person/ Camping Dome Tents
                        span.price &#036; 80.00
                            button.to-cart
                                span.cart              
            span
                button#newarrivals-viewall(type="button" value="View all") View all
        //- Cameras & Tripod section       
        section
            h4 Cameras & Tripod
            p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            p 
                span
                    button#ourcamps-popular(type="button" value="Popular") Popular
                span
                    button#ourcamps-bestseller(type="button" value="Best seller") Best seller
            .row
                .item-container
                    .item
                        img(src="bag.jpeg")
                        p Basics 60-Inch Lightweight Tripod with Bag (Black)
                        span.price &#036; 212.00
                            button.to-cart
                                span.cart
                .item-container
                    .item
                        img(src="bag.jpeg")
                        p Photron Tripod Stedy 450 with 4.5 Feet Pan Head + Extra Quick Release Plate + Foam Grip + Carry Case
                        span.price &#036; 240.00
                            button.to-cart
                                span.cart
                .item-container
                    .item
                        img(src="bag.jpeg")
                        p SONY G7 Mirrorless Camera with LUMIX G VARIO 14-42mm f/3.5-5.6 II ASPH./MEGA O.I.S. Lens - Black
                        span.price &#036; 450.00
                            button.to-cart
                                span.cart              
            span
                button#newarrivals-viewall(type="button" value="View all") View all
        //- Cameras lens section       
        section
            h4 Camera lens
            p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
            p 
                span
                    button#ourcamps-popular(type="button" value="Popular") Popular
                span
                    button#ourcamps-bestseller(type="button" value="Best seller") Best seller
            .row
                .item-container
                    .item
                        img(src="bag.jpeg")
                        p Tamron A17E AF 70-300mm F/4-5.6 Di LD Macro Telephoto Zoom Lens with Hood for Canon DSLR Camera (Black)
                        span.price &#036; 221.00
                            button.to-cart
                                span.cart
                .item-container
                    .item
                        img(src="bag.jpeg")
                        p Nikon AF 70-300mm f/4-5.6G Telephoto Zoom Lens for Nikon DSLR Camera Matte Black 
                        span.price &#036; 327.00
                            button.to-cart
                                span.cart
                .item-container
                    .item
                        img(src="bag.jpeg")
                        p Yongnuo_ EF YN 50mm F/1.8 1:1.8 Standard Prime Lens for Canon Rebel Digital Camera Works Well With 5D, 7D, 60D, 70D, T3, T3i, T5, T5i, Plus Nikon AF-S DX Nikkor 55-300mm F/4.5-5.6G ED VR Telephoto Zoom Lens for Nikon DSLR Camera
                        span.price &#036; 450.00
                            button.to-cart
                                span.cart              
            span
                button#newarrivals-viewall(type="button" value="View all") View all
        //-Sign UP section
        section
            .container
                .accessories
                    h2.bold Sign up for free
                    h4 Veltry newsletter
                    p But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.
                    form
                        input(type="email" name="email" value="Enter you Email")
                        button.default(type="submit" value="Join us") Join us
        //-Footer
        footer
            .row
                .footer-item
                    h4.black Shop now
                    ul
                        li
                            a(href="") Cameras
                        li
                            a(href="") Lenses
                        li
                            a(href="") Camps
                        li
                            a(href="") Bags
                        li
                            a(href="") Collection
                        li
                            a(href="") Gifts
                        li
                            a(href="") Offers
                .footer-item
                    h4.black About veltry
                    ul
                        li
                            a(href="") About us
                        li
                            a(href="") Veltry core values
                        li
                            a(href="") Affiliate programm
                        li
                            a(href="") Work with us
                        li
                            a(href="") In the media
                .footer-item
                    h4.black Help
                    ul
                        li
                            a(href="") Payment Options
                        li
                            a(href="") Bulk orders
                        li
                            a(href="") International orders
                        li
                            a(href="") Contact us
                        li
                            a(href="") Copyrights
                        li
                            a(href="") Site map
            .row
                span.socialicon
                span.socialicon
                span.socialicon
                span.socialicon
                span.socialicon
        


